.login-main-page{
 display: flex;
 width: 100vw;
 height: 100vh;
 overflow: hidden;
 
}
.login-main-page-background{
    width: 30vw;
    height: 100%;
    background-color: var(--secondary-color);
    
}
.login-main-page-background>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.login-main-page-content{
    width: 70vw;
    height: 100%;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-main-page-content-title{
    color: var(--secondary-color);
    font-size: var(--title-size);
    font-weight: var(--title-font-weight);
}
.login-main-page-content-sub-title{
    color: var(--secondary-color);
    font-size: var(--subtitle-size);
}
.login-main-page-content-box{
    background-color: #ffffff;
    width: 400px;
    height: fit-content;
    padding:25px;
    border-radius:var(--box-radius);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-label{
    color: var(--secondary-color);
    font-size: var(--subtitle-size);
    border-radius: var(--box-radius);
    align-self:flex-start;
}
.login-input{
    height: 55px;
    font-size: var(--subtitle-size);
    background-color: var(--main-color);
    width: 100%;
    border-radius: var(--box-radius);
    border: 0px;
}
.login-btn{
    background-color: var(--secondary-color);
    color: #ffffff;
    font-size: var(--subtitle-size);
    font-weight: 600;
    margin-top: 25px;
    width: 100%;
    height: 40px;
    border-radius: var(--box-radius);
}
.err-msg{
    color: red;
    font-size: var(--subtitle-size);
    height: 20px;
    margin: 10px 0px;
}
.external-link{
    margin: 5px 0px;
    font-size: 12px;
}
@media only screen and (max-width: 600px) {
    .login-main-page{
        display: flex;
        flex-direction: column;
        
       }
       .login-main-page-background{
           width: 150px;
           height: 150px;
           background-color:transparent;
           position: absolute;
           top:0;
           right: 0;
           
       }
       .login-main-page-background>img{
           width: 100%;
           height: 100%;
           object-fit: contain;
       }
       .login-main-page-content{
           width: 100vw;
           height: 100vh;
       }
       .login-main-page-content-box{
        width: 300px;
        padding:25px 15px;
    }
    
  }